body {
  font-family: 'Gentium Book Basic', serif;
  padding: 0px;
  margin: 0px;
  color: black;
}

.content-wrapper {
  max-width: 600px;
  margin: 0 auto;
  font-size: 14pt;
  padding-top: 10px;
}

.content-wrapper h1 {
  font-size: 22pt;
}

a {
  color: black;
}

a:hover {
  color: black;
}

#header {
  padding: 30px 10px 10px 10px;
  border-bottom: 10px solid rgb(44, 62, 80);
}

#header h1 {
  font-size: 35pt;
  color: rgb(44, 62, 80);
}

.dojo {
  background-color: #B8C1CA;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 10pt;
}

.dojo h2 {
  margin: 0 0 20px 0;
  padding: 0px;
  font-size: 17pt;
}

#photos a img {
  width: 280px;
  padding: 0 10px 10px 0;
}

.videos {
  float: right;
  margin-right: 30px;
}

#links ul {
  list-style-type: none;
  padding: 0;
}

#links ul li a {
  text-decoration: none;
}

#links ul li a:hover {
  text-decoration: underline;
}

#hashtag {
  font-size: 50pt;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 110px
}

#hashtag a {
  color: #B8C1CA;
  text-decoration: none;
}

#hashtag a:hover {
  color: rgb(44, 62, 80);;
}

#footer {
  text-align: center;
  color: rgb(160,160,160);
  font-size: 10pt;
  margin-bottom: 3px;
}

#footer a {
  color: rgb(160,160,160);
}

#footer a:hover {
  color: rgb(44, 62, 80);
}
